@import "nav-bar.css";
@import "footer.css";
@import "cards.css";
@import "slideshow.css";
@import "banner.css";
@import "homepage.css";
body {
  background-image: linear-gradient(to bottom right, #3f84e5, #c17817);
  background-repeat: no-repeat;
  margin: 0px;
}
